{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
[[[ "_inc_question.html" ]]] 
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <div class="row">
            <div class="answers__amount__header">
                <h4>{{ question.answers }} Answers</h4>
            </div>
        </div>
    <!-- 30 answers on a page, do in backend 'offset' = page*30, 'count'=30 -->
    {% for item in answers %}
        <div class="row question__block">
            <div class="col-xs-2 question__left">
                <img class="img-rounded question__avatar" src="{{ MEDIA_URL }}{{ item.avatar }}">
                <div id="{{ item.id }}" class="rating__info">
                    Rating: {{ item.rating }} 
                </div>
                <div class="rating__like__block">
                    <span id="{{ item.id }}" class="like__button ans_like">+</span>
                    <span id="{{ item.id }}" class="like__button ans_dislike">-</span>
                </div>
            </div>
            <div class="col-xs-10 question__right">
                <p>{{ item.text|linebreaks }}</p>
                <div class="question__tags">
                    <strong>Author:</strong> {{ item.author }}
                </div>

                <!-- only author can vote! -->
                {% if owner %}
                    <!-- this must be showing/working only for the author -->
                    <form method="post" action="/correct_answer">
                        <div class="checkbox">
                            <label>
                                {% if item.selected %}
                                    <p class="bg-success"><input type="checkbox" checked="checked">Correct!</p>
                                {% else %}
                                    <input type="checkbox">Correct?
                                {% endif %}
                            </label>
                          </div>
                    </form>
                {% else %}
                    <!-- draw a badge here -->
                    {% if item.selected %}
                        <p class="bg-success">Correct!</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}

    <a name="add"></a>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="add__answer__header">
                <h4>Add answer:</h4>
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="{% url 'core:add_new_answer' %}" onclick="h()">
            {% csrf_token %}
            {% if error %}
                <div class="form-group" id="add_error">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error.title }}</strong>
                        <p>{{ error.text }}</p>
                    </div>
                </div>
            {% endif %}
            <input type="hidden" name="redirect_id" value="{{ question.question_id }}">
            <div class="form-group">
                <textarea class="form-control add__answer__textarea " name="text" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn button__styled">Answer</button>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="add__answer__header">
                <h4>Login to add answer</h4>
            </div>
        </div>
    {% endif %}

    <nav>
      <ul class="pagination">
        <!-- first item -->
        <li>
          <a href="{% url 'core:question' %}?page=1" aria-label="Previous">
            <span>&laquo;</span>
          </a>
        </li>
        
        {% if paginator.has_previous %}
        <li><a href="{% url 'core:question' %}?page={{ paginator.previous_page_number }}">
            {{ paginator.previous_page_number }}</a></li>
        {% endif %}

        <li class="active"><a href="">{{ page }}</a></li>
            
        {% if paginator.has_next %}
        <li><a href="{% url 'core:question' %}?page={{ paginator.next_page_number }}">{{ paginator.next_page_number }}</a></li>
        {% endif %}

        <!-- fifth item -->
        <li>
          <a href="{% url 'core:question' %}?page={{ paginator.paginator.num_pages }}" aria-label="Next">
            <span>&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>              

    </div>
</div>
{% endblock content %}


{% block scripts %}
<!-- write good universal parser in another file? -->
<script>
    function h() {
        try {
            document.getElementById("add_error").hidden = true;
        } catch(e) {
            // no element
        }
    }
</script>
{% endblock scripts %}