{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
{% if questions %}
    <div class="row action__block">
        <h4>All questions by tag <span class="underline__link">{{ tag }}</span>:</h4><br>
    </div>
  {% for question in questions %}
  [[[ "_inc_question.html" ]]] 
  {% endfor %}
  [[[ "_inc_paginator.html" ]]]
{% else %}
    <div class="row action__block">
        <h4>Nothing found by tag <span class="underline__link">{{ tag }}</span>:</h4>
    </div>
{% endif %}
{% endblock content %}