{% extends "user_profile__base.html" %}
{% block title %}Ask-Kasatkin Settings{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<div class="question__block">
    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="{% url 'user_profile:validate_settings' %}" onclick="h()">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <h4>Settings: {{ personal.nickname }}</h4>
            </div>
        </div>
        {% if error %}
            <div class="form-group" id="setting_error">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error.title }}</strong>
                    <p>{{ error.text }}</p>
                </div>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="input_login" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <input class="form-control" name="input_login" placeholder="{{ user.username }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="input_nickname" class="col-sm-2 control-label">Nickname</label>
            <div class="col-sm-10">
                <input class="form-control" name="input_nickname" placeholder="{{ personal.nickname }}">
            </div>
        </div>
        <div class="form-group">
            <label for="input_email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="input_email" placeholder="{{ personal.email }}">
            </div>
        </div>
        <div class="form-group">
            <label for="avatar" class="col-sm-2 control-label">Avatar</label>
            <div class="col-sm-10">
                <img class="img-rounded current_avatar" src="{{ MEDIA_URL }}{{ personal.avatar }}"><br>
                <input type="file" name="avatar" class="load__avatar__field">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>
{% else %}
    <div class="alert alert-danger" role="alert">
        <strong>Authentication error</strong>
        <p>You must be logged in to watch this page. Log in or create a new account to see this page:</p>
    </div>

    <div class="container-fluid action__block">
        <a href="{% url 'user_profile:register' %}" class="btn btn-primary">Register</a>
        &nbsp;
        <a href="{% url 'user_profile:login' %}" class="btn btn-primary">Log in</a>
    </div>
{% endif %}
{% endblock content %}


{% block scripts %}
<script>
    function h() {
        document.getElementById("setting_error").hidden = true;
    }
</script>
{% endblock scripts %}