{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Сайт с ответами на любые вопросы. Русский конкурент Stackoverflow">
    <meta name="keywords" content="stackoverflow, python, django, ask, kasatkin, techopark, mail.ru, mail.ru group, mailru, mailru group, технопарк, мэйл.ру, мэйл.ру груп">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/improve.css">
</head>
<body>
[[[ "_inc_header.html" ]]]
<div class="container-fixed">
    <div class="row-fluid">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            {% block content %}{% endblock content %}
        </div>
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2 column__left__fix">
            <!-- RIGHT COLUMN: (tags + best members), the same for all cases -->
            <h4 class="column__left__title">Popular Tags:</h4>
            {% for tag in popular_tags %}<a href="{% url 'core:all_by_tag' tag.text %}"><span class="tag__margin" style="background-color: {{ tag.label }};">{{ tag.text }}</span></a>
            {% endfor %}
            <br><br>
            {% if popular_users %}<h4 class="column__left__title">Best Members:</h4>
                {% for pop_user in popular_users %}
                    <p><a href="{% url 'core:user' pop_user.id %}" class="underline__link">{{ pop_user.nickname }}<a></p>
                {%  endfor %}
            {% else %}<p>No best members yet</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% block scripts %}{% endblock %}
<script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
                              try {
                              w.yaCounter28737341 = new Ya.Metrika({id:28737341,
                                                                   webvisor:true,
                                                                   clickmap:true,
                                                                   trackLinks:true,
                                                                   accurateTrackBounce:true});
                              } catch(e) { }
                              });
     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
    </script>
<noscript><div><img src="//mc.yandex.ru/watch/28737341" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
