{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
<div class="switchers__block">
{% if query != 'popular' %}
  <div class="switcher__active">New</div>
  <div class="switcher__notactive"><a href="{% url 'core:home' %}?query=popular" class="link__clear">Popular</a></div>
{% else %}
  <div class="switcher__notactive"><a href="{% url 'core:home' %}?query=latest" class="link__clear">New</a></div>
  <div class="switcher__active">Popular</div>
{% endif %}
</div>
{% for question in paginator %}
	{% include "_inc_question.html" %}
{% endfor %}
	{% include "_inc_paginator.html" %}
{% endblock content %}