{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
{% if questions %}
    <div class="row action__block">
        <h4>All questions by tag <span class="underline__link">{{ tag }}</span>:</h4>
		<br>
    </div>
{% include "question__list.html" %}
{% else %}
    <div class="row action__block">
        <h4>Nothing found by tag <span class="underline__link">{{ tag }}</span>:</h4>
    </div>
{% endif %}

<nav>
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock content %}
