{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
<div class="switchers__block">
{% if query == 'latest' %}
  <div class="switcher__active">Latest</div>
  <div class="switcher__notactive"><a href="{% url 'core:home' %}?query=popular" class="link__clear">Popular</a></div>
{% else %}
  <div class="switcher__noactive"><a href="{% url 'core:home' %}?query=latest" class="link__clear">Latest</a></div>
  <div class="switcher__active">Popular</div>
{% endif %}
</div>

{% include "question__list.html" %}
    <!-- connect this too... -->
    <nav>
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock content %}
