{% extends "base.html" %}
{% block title %}Ask-Kasatkin Main Page{% endblock title %}
{% block content %}
{% include "_inc_question.html" %}
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <div class="row">
            <div class="answers__amount__header">
                <h4>{{ question.answers.all.count }} Answers. WebSocket status: <span id="message"></span></h4>
                <div id="channel_id" style="display: none;">{{ question.id }}</div>
            </div>
        </div>
        <div id="fresh_answers">
        </div> 
    {% for item in paginator %}
        <a name="answer_{{ item.id }}"></a>
        <div class="row question__block">
            <div class="col-xs-2 question__left">
                <img class="img-rounded question__avatar" src="{{ MEDIA_URL }}{{ item.author.filename }}">
                <div id="{{ item.id }}" class="rating__info answer_rating">
                    Rating: {{ item.rating }}
                </div>
                <div class="rating__like__block">
                    <span id="{{ item.id }}" class="like__button ans_like">+</span>
                    <span id="{{ item.id }}" class="like__button ans_dislike">-</span>
                </div>
            </div>
            <div class="col-xs-10 question__right">
                <p>{{ item.text|linebreaks }}</p>
                <div class="question__tags">
                    <strong>Author:</strong> {{ item.author.nickname }}
                </div>
                <!-- only author can vote! -->
                {% if owner %}
                    {% if item.chosen %}<span id="{{ item.id }}" class="correct__button">Correct!</span>
                    {% else %}
                    <span id="{{ item.id }}" class="correct__button">Press here to mark as true</span>
                    {% endif %}
                {% else %}
                    {% if item.chosen %}<span class="correct__bage">Correct!</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="add__answer__header">
                <h4>Add answer:</h4>
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="{% url 'core:add_new_answer' %}">
            {% csrf_token %}
            <input type="hidden" name="redirect_id" value="{{ question.id }}">
            <input type="hidden" name="redirect_page" value="{{ paginator.paginator.num_pages }}">
            <div class="form-group">
                {% if form.text.value|length %}<textarea class="form-control add__answer__textarea" name="text" rows="5" value="{{ form.text.value }}"></textarea>
                {% else %}<textarea class="form-control add__answer__textarea" name="text" rows="5"></textarea>
                {% endif %}
                {% if form.text.errors %}<div class="alert alert-danger error__block" role="alert">
                    {{ form.text.errors }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn button__styled">Answer</button>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="add__answer__header">
                <h4>Login to be able to answer</h4>
            </div>
        </div>
    {% endif %}

    <nav>
      <ul class="pagination">
        <!-- first item -->
        <li>
          <a href="{% url 'core:question' question.id %}?page=1" aria-label="Previous">
            <span>&laquo;</span>
          </a>
        </li>
        
        {% if paginator.has_previous %}
        <li><a href="{% url 'core:question' question.id %}?page={{ paginator.previous_page_number }}">
            {{ paginator.previous_page_number }}</a></li>
        {% endif %}

        <li class="active"><a href="">{{ page }}</a></li>
            
        {% if paginator.has_next %}
        <li><a href="{% url 'core:question' question.id %}?page={{ paginator.next_page_number }}">{{ paginator.next_page_number }}</a></li>
        {% endif %}

        <!-- fifth item -->
        <li>
          <a href="{% url 'core:question' question.id %}?page={{ paginator.paginator.num_pages }}" aria-label="Next">
            <span>&raquo;</span>
          </a>
        </li>

      </ul>
    </nav> 

    </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="/static/js/mark.js"></script>
<script src="/static/js/notifications.js"></script>
{% endblock scripts %}