{% extends "user_profile__base.html" %}
{% block title %}Ask-Kasatkin Login{% endblock title %}
{% block content %}
<h4>Login</h4>
<div class="alert alert-danger" role="alert" id="jsalert" hidden>
    <strong>All fields must be filled</strong>
</div>
{% if form.no_user %}
    <div class="alert alert-danger error__block" role="alert">
        <h5>{{ form.no_user }}</h5>
    </div>
    <br>
{% endif %}
<form method="POST" action="{% url 'user_profile:login' %}">
    {% csrf_token %}
    <div class="form-group">
        {% if form.login.value|length %}<input class="form-control" name="login" value="{{ form.login.value }}">
        {% else %}<input class="form-control" name="login" placeholder="Enter login" type="text" required>
        {% endif %}
        {% if form.login.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.login.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {% if form.password.value|length %}<input type="password" class="form-control" name="password" value="{{ form.password.value }}">
        {% else %}<input type="password" class="form-control" name="password" placeholder="Enter password" required>
        {% endif %}
        {% if form.password.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.password.errors }}
        </div>
        {% endif %}
    </div>
    <input type="submit" class="btn btn-default" value="Log in!"/>
</form>
<br><strong>Or:</strong>&nbsp;&nbsp;<a href="{% url 'user_profile:register' %}" class="underline__link">create new account</a>
{% endblock content %}