<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="description" content="Сайт с ответами на любые вопросы. Русский конкурент Stackoverflow">
<meta name="keywords" content="stackoverflow, python, django, ask, kasatkin, techopark, mail.ru, mail.ru group, mailru, mailru group, технопарк, мэйл.ру, мэйл.ру груп">
<title>{% block title %}{% endblock title %}</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/improve.css">
</head>
<body>
<!-- header (same as in 'base.html') -->

<nav class="navbar navbar-default navbar-static-top navbar__new__color">
  <div class="navbar__base__block">
        <span class="no__paddings">
          <a href="{% url 'core:home' %}" class="navbar__title">Ask.Kasatkin</a>
        </span>

        <span class="no__paddings">
          <form method="GET" action="#">
            <!-- dont forget to use JQuery -->
            <input name="request" type="search" class="form-control navbar__input__form" placeholder="Search">
          </form>
        </span>

        <span class="no__paddings">
          <a href="{% if user.is_authenticated %}{% url 'core:create_question' %}{% else %}{% url 'user_profile:login' %}{% endif %}" class="btn button__styled">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ask
          </a>
        </span>

        <div class="navbar__user__miniprofile">
        {% if user.is_authenticated %}

          <span class="no__paddings">
            <img class="navbar__avatar" src="{{ MEDIA_URL }}{{ personal.avatar }}">
          </span>
              
          <span class="no__paddings">
            {{ personal.nickname }}
          </span>

          <br>

          <span class="no__paddings">
            <a href="{% url 'user_profile:settings' %}"><span class="glyphicon glyphicon-cog navbar__user__options" data-toggle="tooltip" data-placement="bottom" title="Settings"><span></a>
          </span>

          <span class="no__paddings" style="">
            <a href="{% url 'user_profile:logout' %}" class="navbar__user__options" data-toggle="tooltip" data-placement="bottom" title="Log out">Exit</a>
          </span>

        {% else %}
          <span class="no__paddings">
            <a href="{% url 'user_profile:register' %}" class="btn button__styled">Register</a>
          </span>
          <span class="no__paddings">
            <a href="{% url 'user_profile:login' %}"class="btn button__styled">Log in</a>
          </span>
        {% endif %}
        </div>
  </div>
</nav>

<!-- container for our content -->
<div class="container-fixed">
    <div class="row-fluid">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            {% block content %}{% endblock content %}
        </div>
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2 column__left__fix">
            <!-- RIGHT COLUMN: (tags + best members), the same for all cases -->
            <h4 class="column__left__title">Popular Tags:</h4>
            {% for tag in popular_tags %}<a href="{% url 'core:all_by_tag' tag.text %}"><span class="{{ tag.label }} tag__margin">{{ tag.text }}</span></a>
            {% endfor %}
            <br><br>
            {% if popular_users %}
                <h4 class="column__left__title">Best Members:</h4>
                {% for pop_user in popular_users %}<p><span class="underline__link">{{ pop_user }}</span></p>
                {%  endfor %}
            {% else %}
                <p>No best members yet</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% block scripts %}{% endblock %}
<script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
                              try {
                              w.yaCounter28737341 = new Ya.Metrika({id:28737341,
                                                                   webvisor:true,
                                                                   clickmap:true,
                                                                   trackLinks:true,
                                                                   accurateTrackBounce:true});
                              } catch(e) { }
                              });
     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
    </script>
<noscript><div><img src="//mc.yandex.ru/watch/28737341" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
