{% extends "user_profile__base.html" %}
{% block title %}Ask-Kasatkin Registration Page{% endblock title %}
{% block content %}
<h4>Registration page. <small>Please fill all fields!</small></h4>
<form enctype="multipart/form-data" method="POST" action="{% url 'user_profile:validate_register' %}" name="mf" onsubmit="return c()" onclick="h()">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" name="input_login" placeholder="Enter login">
        {% if form.input_login.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.input_login.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <input class="form-control" name="input_nickname" placeholder="Enter nickname">
        {% if form.input_nickname.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.input_nickname.errors }}
        </div>
        {% endif %}        
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="input_email" placeholder="Enter email">
        {% if form.input_email.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.input_email.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="input_password" placeholder="Enter password">
        {% if form.input_password.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.input_password.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="input_password_rep" placeholder="Repeat password">
        {% if form.input_password_rep.errors %}<div class="alert alert-danger error__block" role="alert">
            {{ form.input_password_rep.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <input type="file" name="avatar">
            <p class="help-block">Upload avatar, only JPG is allowed. Size 100px * 100px is prefered for the best performance</p>
            </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>
{% endblock content %}