/* navbar improves */
.navbar__low {
    margin-top: 4px;
}

.navbar__high {
    margin-top: 8px;
}

.navbar__avatar {
    height: 35px;
    width: 35px;
}

.underline__link {
    text-decoration: underline;
}


/* question block */
.question__block {
    box-shadow: 0 0 1px black;
    padding: 3px 3px 3px 3px;
}

.question__left {
    margin-bottom: 3px;
    padding-left: 4%;
}

.question__avatar {
    height: 80px;
    width: 80px;
    margin-top: 3px;
}

.question__vote {
    width: 30px;
}

.question__right {
    position: relative;
}

.question__tags {
    position: relative;
    bottom: 3px;
}


/* settings */
.current_avatar {
    height: 100px;
    width: 100px;
}

.load__avatar__field {
    margin: 2px;
}

.action__block {
    margin-left: 30%;
}


/* question thread */
.answers__amount__header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.add__answer__header {
    margin-bottom: 5px;
}

.add__answer__textarea {
    max-width: 100%;
}

/* tags */
.tag__margin {
    display: inline;
    margin: 5px;
}
