{% extends "core/templates/base.html" %}

{% block title %}Ask-Kasatkin Main Page{% endblock %}

<!-- do if_logged-stuff on backend side -->
{% block header %}
    <div class="navbar-form navbar-right">
    {% if not logged %}
        <!-- return 2 links ... service.views.register -->
        <a href="{% url 'core:register' %}" style="text-decoration: underline;">Register</a>
        or
        <a href=" login_page_link "><u>Log in</u></a>
        
        <!-- move to popup with JS -->
        <form class="form-inline" style="display: none;">
            <div class="form-group">
                <input type="email" class="form-control" id="user_email" placeholder="jane.doe@example.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    {% else %}
        Hi, logged man!
        <!-- personal data here: ava, nick, settings-link, logout-link -->
    {% endif %}
    </div>
{% endblock %}


{% block content %}
    {% for item in quesions %}



    {% endfor %}
{% endblock %}



{% block pagination %}

{% endblock %}


{% block scripts %}
<!-- add JS to show popup/layout window -->
{% endblock %}