{% extends "core/templates/base.html" %}
{% load staticfiles %}

{% block title %}Ask-Kasatkin Main Page{% endblock %}

{% block header %}
    <div class="container-fluid">
    {% if not personal %}
        <a href="{% url 'core:register' %}" style="text-decoration: underline;" class="btn btn-primary">Register</a>
        &nbsp;
        <a href="{% url 'core:home' %}" style="text-decoration: underline;" class="btn btn-primary">Log in</a>
    {% else %}
        <div class="col-xs-3">
            <img class="img-rounded" style="height: 35px;" src="{% static 'core' %}/{{ personal.avatar }}"><br>
        </div>
        <div class="col-xs-9">
            {{ personal.nickname }}
            <br>
            <a href="settings">Settings</a>
            &nbsp;
            <a href="logout">Log out</a>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    {% for item in questions %}
        <div class="row" style="box-shadow: 0 0 1px black; padding: 3px 3px 3px 3px;">
            <div class="col-xs-2" style="margin-bottom: 3px; padding-left: 4%;">
                <img class="img-rounded" style="height: 80px; margin-top: 3px;" src="{% static 'core' %}/{{ item.avatar }}"><br>
                <strong>Rating: {{ item.rating }}</strong><br>
                <!-- use JQuery to like -->
                <a href="" class="btn btn-success btn-sm" style="width: 30px;">+</a>
                <a href="" class="btn btn-danger btn-sm" style="width: 30px;">-</a>
            </div>
            <div class="col-xs-10" style="position: relative;">
                <p><a href="{{ item.link }}" style="text-decoration: underline;"><strong>{{ item.title }}</strong></a></p>
                <p>{{ item.text }}</p>
                <div style="position: relative; bottom: 3px;">
                {%  if item.tags %}
                    <strong>Tags: </strong>
                    {% for tag in item.tags %}
                        <a href="/search_by_tag_method?tag={{ tag }}" style="text-decoration: underline;">{{ tag }}</a>&nbsp;
                    {% endfor %}
                {% endif %}
                <strong>Asked:</strong> {{ item.author }} &nbsp;&nbsp;
                <a href="{{ item.link }}"><strong>Answer ({{ item.answers }})</strong></a>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}

{% block pagination %}
{% endblock %}

{#% block scripts %#}
<!-- move to popup with JS
        <form class="form-inline" style="display: none;">
            <div class="form-group">
                <input type="email" class="form-control" id="user_email" placeholder="jane.doe@example.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form> -->
{#% endblock %#}