{% extends "core/templates/base.html" %}
{% load staticfiles %}

{% block title %}Ask-Kasatkin Main Page{% endblock %}

<!-- do if_logged-stuff on backend side -->
{% block header %}
    <div class="navbar-form navbar-right">
    {% if not personal %}
        <!-- return 2 links ... service.views.register -->
        <a href="{% url 'core:home' %}" style="text-decoration: underline;">Register</a>
        or
        <a href="..login_page_link " style="text-decoration: underline;">Log in</a>
        
        <!-- move to popup with JS -->
        <form class="form-inline" style="display: none;">
            <div class="form-group">
                <input type="email" class="form-control" id="user_email" placeholder="jane.doe@example.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    {% else %}
        Hi, logged man!
        <!-- personal data here: ava, nick, settings-link, logout-link-->
    {% endif %}
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid">
    {% for item in questions %}
        <div class="row" style="box-shadow: 0 0 1px black; padding: 3px 12px 3px 12px;">
            <div class="col-xs-3">
                <img class="img-rounded" style="height: 80px;" src="{% static 'core' %}/{{ item.avatar }}"><br>
                <strong>Rating: {{ item.rating }}</strong><br>
                <!-- use JQuery to like -->
                <a href="" class="btn btn-success btn-sm">Up</a>
                <a href="" class="btn btn-danger btn-sm">Down</a>
            </div>
            <div class="col-xs-9" style="position: relative;">
                <p><a href="{{ item.link }}" style="text-decoration: underline;"><strong>{{ item.title }}</strong></a></p>
                <p>{{ item.text }}</p>

                <div style="position: relative; bottom: 0px;">
                {%  if item.tags %}
                    <strong>Tags: </strong>
                    {% for tag in item.tags %}
                        <a href="/search_by_tag_method?tag={{ tag }}" style="text-decoration: underline;">{{ tag }}</a>&nbsp;
                    {% endfor %}
                {% endif %}
                <strong>Asked:</strong> {{ item.author }}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}


{% block pagination %}

{% endblock %}


{% block scripts %}
<!-- add JS to show popup/layout window -->
{% endblock %}