{% extends "core/templates/base.html" %}
{% block title %}Ask-Kasatkin Registration Page{% endblock title %}

{% block header %}
    <div class="container-fluid">
        <a href="{% url 'core:register' %}" style="text-decoration: underline;" class="btn btn-primary">Register</a>
        &nbsp;
        <a href="{% url 'core:login' %}" style="text-decoration: underline;" class="btn btn-primary">Log in</a>
    </div>
{% endblock header%}

{% block content %}
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6">
    <h4>Login</h4>
    {% if error %}
        <div class="alert alert-danger" role="alert" id="back_end_error_message">
            <strong>{{ error.title }}</strong>
            <p>{{ error.text }}</p>
        </div>
    {% endif %}
    <!-- JS error message -->
    <div class="alert alert-danger" role="alert" id="jsalert" hidden>
        <strong>All fields must be filled</strong>
    </div>
    <form method="POST" action="{% url 'core:validate_login' %}" name="mf" onsubmit="return c()" onclick="h()">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" name="input_login" id="inpl" placeholder="Enter login" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="input_password" placeholder="Enter password" type="password" required>
        </div>
        <input type="submit" class="btn btn-default" value="Log in!"/>
    </form>
    <br><strong>Or:</strong>&nbsp;&nbsp;<a href="{% url 'core:register' %}" style="text-decoration: underline;">create new account</a>
    </div>
{% endblock content %}


{% block scripts %}
<script>
function c(){
    var f = document.forms["mf"];
    var a = f["input_login"].value;
    var b = f["input_password"].value;
    if (a == null || b == null || a == "" || b == "") {
        document.getElementById("back_end_error_message").hidden = true;
        document.getElementById("jsalert").hidden = false;
        return false;
    }
}
function h() {
    document.getElementById("back_end_error_message").hidden = true;
    document.getElementById("jsalert").hidden = true;
}
</script>
{% endblock scripts %}