{% extends "core/templates/base.html" %}
{% block title %}Ask-Kasatkin Registration Page{% endblock title %}

{% block header %}
    <div class="container-fluid">
        <a href="{% url 'core:register' %}" style="text-decoration: underline;" class="btn btn-primary">Register</a>
        &nbsp;
        <a href="{% url 'core:login' %}" style="text-decoration: underline;" class="btn btn-primary">Log in</a>
    </div>
{% endblock header%}

{% block content %}
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6">
    <h4>Login</h4>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error.title }}</strong>
            <p>{{ error.text }}</p>
        </div>
    {% endif %}
    <form method="POST" action="{% url 'core:validate_login' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" name="input_login" placeholder="Enter login">
                </div>
        <div class="form-group">
            <input type="password" class="form-control" name="input_password" placeholder="Enter password">
                </div>
        <input type="submit" class="btn btn-default" value="Log in!"/>
    </form>
    <br><strong>Or:</strong>&nbsp;&nbsp;<a href="{% url 'core:register' %}" style="text-decoration: underline;">create new account</a>
    </div>
{% endblock content %}


{% block scripts %}
<!--script>
function c(){
    var t = "{% url 'core:validate_login' %}";

    // check if all fields are filled:
    var a = document.getElementsByName("input_login");
    if (a.count > 0) {
        alert("good");
    }
    else {
        alert("bad");
    }
}
</script-->
{% endblock scripts %}