/* make static block */
/* ubuntu "Mid Aubergine" palette used */

body {
    background: #EEE9ED url('/uploads/bg-site.png') repeat left top;
}

.container-fixed {
	width: 1050px;
	margin: auto;
}

.underline__link {
    text-decoration: underline;
    color: #5E2750;
}


/* navbar improves */
.navbar__new__color {
    display: block;
    min-width: 1050px;
    background-color: #BEA8B9;
    box-shadow: 0 0 3px #c9c9c9;
}

.navbar__base__block {
    display: inline;
    float: left;
    margin: auto;
}

.button__styled {
    background-color: #8E6784;
    border-color: black;
    color: white;
}

.button__styled:hover {
    background-color: #7E5273;
    border-color: black;
    color: white;
}

/* new header */
.no__paddings {
    padding: 0px;
    margin: 0px;
}

.h__input__field {
    background-color: #EEE9ED;
    width: 600px;
}
/* new header */

.navbar__low {
    margin-top: 4px;
}

.navbar__high {
    margin-top: 8px;
}

.navbar__input__form {
    background-color: #EEE9ED;
    width: 80%;
}

.navbar__avatar {
    height: 35px;
    width: 35px;
}

/* switcher */
.switchers__block {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    width: 119px;
    margin-bottom: 10px;
    margin-left: 40%;
    background-color: #DED3DC;
    border-radius: 8px;

    box-shadow: 0 0 3px #c9c9c9;
}

.switcher__active {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #BEA8B9;
    border-radius: 5px;
}

.switcher__notactive {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.switcher__notactive:hover {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #EEE9ED;
}

.link__clear {
    color: black;
    text-decoration: none;
}


/* question block */
.question__block {
    background-color: #DED3DC;
    box-shadow: 0 0 3px #c9c9c9;
    border-color: black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.question__left {
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
}

.question__right {
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
}

.question__avatar {
    height: 80px;
    width: 80px;
    margin-top: 3px;
}

.question__tags {
    position: relative;
    bottom: 3px;
}


/* likes */
.rating__info {
    font-weight: 900;
    padding-top: 8px;
}

.rating__like__block {
    display: inline;
    background-color: #BEA8B9;
    width: 30px;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    padding-top: 8px;
    margin-left: 8px;
}

.like__button {
    font-size: 30px;
    color: #5E2750;
    margin: 5px;
}

.like__button:hover {
    font-size: 30px;
    color: #EEE9ED;
    margin: 5px;
    text-decoration: none;
}


/* settings */
.current_avatar {
    height: 100px;
    width: 100px;
}

.load__avatar__field {
    margin: 2px;
}

.action__block {
    margin-left: 30%;
}


/* question thread */
.answers__amount__header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.add__answer__header {
    margin-bottom: 5px;
}

.add__answer__textarea {
    max-width: 100%;
    background-color: #F6F6F6;
}

/* right info column  */
.column__left__fix {
    padding-left: 30px;
}

.tag__margin {
    display: inline;
    margin: 3px;
}
