/* make static block */
/* ubuntu "Mid Aubergine" palette used */

body {
    background: #EEE9ED url('/uploads/bg-site.png') repeat left top;
}

.container-fixed {
	width: 1050px;
	margin: auto;
}

.underline__link {
    text-decoration: underline;
    color: #5E2750;
}

.underline__link:hover {
    text-decoration: underline;
    color: #E36C43;
}

/* navbar improves */
.navbar__new__color {
    display: block;
    min-height: 40px;
    margin-bottom: 10px;
    background-color: #BEA8B9;
    box-shadow: 0 0 3px #c9c9c9;
}

.navbar__base__block {
    min-width: 1050px;
    height: 40px;
}

.navbar__just__color {
    display: block;
    margin-bottom: 10px;
    background-color: #BEA8B9;
    box-shadow: 0 0 3px #c9c9c9;
}

.no__paddings {
    display: inline-block;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar__title {
    display: inline-block;
    margin-top: 6px;
    margin-left: 100px;
    color: #EEE9ED;
    font-size: 20px;
    font-weight: 700;
}

.navbar__title:hover {
    color: white;
}

.empty__block {
    display: inline-block;
    position: absolute; 
    left: 50%;    
    /*
    display: inline;
    position: absolute;
    left: 100px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    */
}

.empty__block__child {
    display: inline-block;
    position: relative; 
    left: -50%;
}

.navbar__input__form {
    background-color: #EEE9ED;
    width: 600px;
    margin-top: 3px;
}

.button__styled {    
    border: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #8E6784;
    color: white;
    margin-top: 7px;
}

.button__styled:hover {
    border: 0px;
    background-color: #7E5273;
    color: white;
}

.navbar__user__miniprofile {
    min-width: 200px;
    float: right;
}

.navbar__user__nickname {
    color: white;
    text-decoration: underline;   
}

.navbar__user__nickname:hover {
    color: black;
    text-decoration: underline;   
}

.navbar__avatar {
    height: 40px;
    width: 40px;
}

.navbar__user__options {
    top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

.navbar__user__options:hover {
    text-decoration: none;
    color: black;
}

/* switcher */
.switchers__block {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
    margin-left: 40%;
    background-color: #DED3DC;
    border-radius: 8px;
    box-shadow: 0 0 3px #c9c9c9;
}

.switcher__active {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #BEA8B9;
    border-radius: 5px;
}

.switcher__notactive {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.switcher__notactive:hover {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #EEE9ED;
}

.link__clear {
    color: black;
}

.link__clear:hover {
    color: black;
}

/* question block */
.question__block {
    background-color: #DED3DC;
    box-shadow: 0px 0px 3px #c9c9c9;
    border-color: black;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
}

.fresh {
    background-color: #e0b07c;
}

/*.fresh__like {
    background-color: #e0773f;
}*/

.fresh__like {
    display: inline;
    background-color: #e0773f;
    width: 30px;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    padding-top: 8px;
    margin-left: 8px;
}

.question__left {
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
}

.question__right {
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
}

.question__avatar {
    height: 80px;
    width: 80px;
    margin-top: 3px;
}

.question__tags {
    position: relative;
    bottom: 3px;
}

.question__no__answer {
    display: block-inline;
    background-color: #BEA8B9;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.question__has__answer {
    display: block-inline;
    background-color: #9de1a8;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* likes */
.rating__info {
    font-weight: 900;
    padding-top: 8px;
}

.rating__like__block {
    display: inline;
    background-color: #BEA8B9;
    width: 30px;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    padding-top: 8px;
    margin-left: 8px;
}

.like__button {
    font-size: 30px;
    color: #5E2750;
    margin: 5px;
}

.like__button:hover {
    font-size: 30px;
    color: #EEE9ED;
    margin: 5px;
    text-decoration: none;
}

/* marking correct answer */
.correct__button {
    background-color: #ff9f72;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.correct__button:hover {
    background-color: #9de1a8;
    color: black; 
}

.correct__bage {
    background-color: #9de1a8;
    color: black; 
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* settings */
.current_avatar {
    height: 100px;
    width: 100px;
}

.load__avatar__field {
    margin: 2px;
}

.action__block {
    margin-left: 30%;
}


/* question thread */
.answers__amount__header {
    padding-top: 5px;
    margin-bottom: 13px;
}

.add__answer__header {
    margin-bottom: 10px;
}

.add__answer__textarea {
    max-width: 100%;
    background-color: #F6F6F6;
}

/* right info column  */
.column__left__fix {
    padding-left: 30px;
    padding-right: 0px;
}

.column__left__title {
    font-size: 20px;
}

.tag__margin {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    margin: 2px;
    color: black;
}

.tag__margin:hover {
    color: white;
}

/* paginator */
.pagination>li>a {
    background-color: #BEA8B9;
    color: black;
}

.pagination>li>a:hover {
    color: black;
}

.pagination>.active>a {
    background-color: #8E6784;
    border-color: #8E6784;
}

.pagination>.active>a:hover {
    background-color: #8E6784;
    border-color: #8E6784;
}

.user__profile__item {
    font-size: 18px;
}

.notf {
    position: fixed;
    width: 150px;
    margin-top: 35px;
}

.notf__message {
    display: inline-block;
    background-color: #DED3DC;
    color: red;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    box-shadow: 2px 2px red;
}

.notf__message:hover {
    text-decoration: none;
    color: black;

    /* stylish push */
    margin-left: 1px;
    margin-top: 1px;
    box-shadow: 1px 1px black;
}

.error__block {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

/* techno_rating style */
.block__small {
    margin-left: 20px;
    margin-right: 20px;
}

.colored__link {
    color: #5E2750;
}

.colored__link:hover {
    color: #E36C43;
}
